<a href="https://colab.research.google.com/github/KumudaBG/Stock-Price-Prediction/blob/main/Data_Gathering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Introduction

# Data Sources

For initial investigation and analysis we will be using the data from [Kaggle stock Dataset](https://www.kaggle.com/jacksoncrow/stock-market-dataset?select=stocks). This Dataset has around 5800+ stock symbols.

In [ ]:
tickersDf = pd.read_csv('/content/drive/MyDrive/MLSpring-2021/teams/musketeers/Midterm/Data/symbols_valid_meta.csv')
tickersDf.head()

  Nasdaq Traded Symbol  ... NASDAQ Symbol NextShares
0             Y      A  ...             A          N
1             Y     AA  ...            AA          N
2             Y   AAAU  ...          AAAU          N
3             Y   AACG  ...          AACG          N
4             Y   AADR  ...          AADR          N

[5 rows x 12 columns]

In [ ]:
#  Extracting the tickeers as an array
tickers_list =  tickersDf['Symbol']
tickers_list.head()

0       A
1      AA
2    AAAU
3    AACG
4    AADR
Name: Symbol, dtype: object

In [ ]:
# Reading all the data from the files to get consolidated list of stock prices and tickers

# Initialization of the data frame
# finalDf = pd.DataFrame()

# for ticker in tickers_list:
#   try:
#     temp = pd.read_csv('/content/drive/MyDrive/MLSpring-2021/teams/musketeers/Midterm/Data/'+ticker+'.csv')
#     temp['Ticker'] = ticker
#     finalDf = finalDf.append(temp)
#   except:
#     print('The ticker Symbol is  an  ETF  or Not Available '+ticker)

# finalDf.to_csv('out.csv', index=False)
# finalDf.info()

In [ ]:
#finalDf.to_csv('/content/drive/MyDrive/MLSpring-2021/teams/musketeers/Midterm/Data/out.csv', index=False)

## Data Source for Scraped Data

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/MLSpring-2021/teams/musketeers/Midterm/Data/out.csv')
data.head()

         Date       Open       High  ...  Adj Close      Volume  Ticker
0  1999-11-18  32.546494  35.765381  ...  27.068665  62546300.0       A
1  1999-11-19  30.713520  30.758226  ...  24.838577  15234100.0       A
2  1999-11-22  29.551144  31.473534  ...  27.068665   6577800.0       A
3  1999-11-23  30.400572  31.205294  ...  24.607880   5975600.0       A
4  1999-11-24  28.701717  29.998211  ...  25.261524   4843200.0       A

[5 rows x 8 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24175924 entries, 0 to 24175923
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   Open       float64
 2   High       float64
 3   Low        float64
 4   Close      float64
 5   Adj Close  float64
 6   Volume     float64
 7   Ticker     object
dtypes: float64(6), object(2)
memory usage: 1.4+ GB

In [ ]:
for index,row in  data.iterrows():
  print(row['Date'].split('-')[0])

# Data Pre-Processing

# Data Visualization